#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}
  
#keywordsList {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}
  
#elementWrapper {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

#elementWrapper:hover {
  background-color: #fafafa;
}

#keyword {
}

#randomize {
  display: flex;
  align-items: center;
}

#randoArrow {
  max-width: 50px;
  max-height: 50px;
  padding-left: 10px;
}
  
#keywordsList li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#columnL {
  width: 50%;
}

#columnR {
  width: 50%;
}

#outer {
  display: flex;
}

.footer {
  background-color: #f0f0f0;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0;
}

.footer li {
  margin: 5px 0;
}

.footer a {
  text-decoration: none;
  color: #000;
}

.footer a:hover {
  text-decoration: underline;
}